<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="openAIKey" value="YOUR_API_KEY"/>
		<add key="openAIApiEndpoint" value="https://api.openai.com/v1/chat/completions"/>
		<add key="openAIModelName" value="gpt-4o-mini"/>
		<add key="prompt" value="Can you give me a detailed description in English of the image?"/>
	</appSettings>
</configuration>